p{
    font-family: Roboto;
    margin-bottom: 0px;
    margin-top: 0px;
}
.video-title{
    font-size: 18px;
    font-weight: bold;
    width: 280px;
    line-height: 25px;
    margin-bottom: 0px;
}

.video-stats{
    color: #606060;
    font-size: 13px;
    margin-top: 3px;
}

.video-author{
    color: #606060;
    font-size: 14px;
    margin-top: 20px;
}

.video-description{
    color: #606060;
    font-size: 14px;
    margin-top: 20px;
    width: 280px;
    line-height: 22px;
}

.buttom_text{
    color: white;
    background-color: #e34140;
    margin-top: 60px;
    padding: 20px 0px 20px 0px;
    text-align: center;
    font-size: 14px;
}

.span-example{
    margin-left: 5px;
    cursor: pointer;
}
.span-example:hover{
    text-decoration: underline;
}
